$main-back: #6BCFBB;
$nice-orange: #E58517;
$dark-gray: #2E2E2E;
$border-color: #D6D6D6;
$header-size: 59px;
$radius: 9px;


html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#root {
    background-color: $main-back;
}

h1 {
    margin: 0;
    font-size: $header-size;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 30px;
    padding-top: 40px;
}

.wrapper {
    max-width: 1082px;
    margin: 0 auto;
}

.input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    input {     
        width: 100%;   
        height: 66px;
        border-radius: $radius;
        margin: 0;
        box-sizing: border-box;
        padding: 0 20px;
        font-size: 19px;
        border: 1px solid gray;
        margin-right: 15px;
    }
}

.button {
    width: 145px;
    text-align: center;
    background: $nice-orange;
    color: #fff;
    border-radius: $radius;
    border: 4px solid #fff;
    font-weight: 500;
    font-size: 21px;
    line-height: 55px;
    box-sizing: border-box;
    cursor: pointer;
}

.counter {
    background: #fff;
    min-height: 545px;
    border-radius: $radius;

    &__row {
        display: flex;
        justify-content: space-around;
        padding: 30px 0;
        border-bottom: 1px solid $border-color;

        &--header {
            font-weight: 500;
        }
    }

    &__row-item {

    }
}